<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>お問い合わせ</title>
    <link rel="stylesheet" href="../../public/CSS/kim4page.css">
    <script>
        (function(d) {
          var config = {
            kitId: 'cbi4ocw',
            scriptTimeout: 3000,
            async: true
          },
          h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
        })(document);
      </script>
</head>

<body>
    <main class="contact-main">

        <inner class="inner">

            <div class="top">
                <h2 class="buck">お問い合わせ</h2>
            </div>

            <div class="content">
                <form action="#" class="form">
                    <p>お名前<span class="required">*必須</span></p>
                    <input type="text" name="name" size="90" class="input-bg" required>

                    <p>メールアドレス<span class="required">*必須</span></p>
                    <input type="email" name="mail" size="90" class="input-bg" required>
                    
                    <p>件 名</p>
                    <input type="text" name="title" size="90" class="input-bg">
                    
                    <p>お問い合わせ内容<span class="required">*必須</span></p>
                    <textarea name="text" rows="15" cols="93" class="area-bg"></textarea>
                    <p class="submit"><button type="submit" class="button">登 録</button></p>
                </form>
            </div>

            <a href="toppage">
                <h2 class="buck">戻る</h2>
            </a>

        </inner>

    </main>
</body>

</html>