@charset "UTF-8";

:root {
    --base-color: #F5EC6F;
    --sub-color: #AAE139;
    --accent-color: #F93;
    --third-color: #A4EFF7;
    --fourth-color: #C8DBEA;

    --base-font-size: 14px;  /* <p> */
    --middle-font-size: 16px; /* <h1> */

    --base-font-family: 'ヒラギノ丸ゴ Pro W4', 'Noto Sans JP', sans-serif;
    --main-font-family: "ab-tombo-bold", sans-serif;
}
body p {
    font-family: var(--base-font-family);
}