@charset "UTF-8";

html {
    font-size: 100%;
}
body {
    font-family: 'Consolas',sans-serif; 
    /* font-family: "ab-tombo-bold", sans-serif;

    width: 100%;
    background-color: #F5EC6F;
    margin: 0; /* デフォルトのマージンをリセット */
    padding: 0; /* デフォルトのパディングをリセット */

}
li{
    list-style: none;
    padding-left: 0;   
}
ul {
    padding-left: 0;
}
p{
   
    font-weight: 200;
   
}
a {
    text-decoration: none;
    display: initial;
}

img {
    max-width: 100%;
}
/* ------------------------
        main
------------------------ */
main {
   
    margin: 0 auto;
   
    background-color: #F5EC6F;
}

#top {
    position: relative;
    width: 80%;
    border-radius: 20px;
    background-color: #fff;
    margin: auto;
}

.wrapper ul li img {
    width: 80%;
    margin: auto;
    display: block;
    object-fit: cover;
    height: 160px;
}
.wrapper ul {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
    padding: 0;
}
.lank{
    /* 1位 */

font-family: "ab-tombo-bold", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 28px;
line-height: 19px;
text-align: center;
letter-spacing: 0.3em;
color: #F5EC6F;
text-shadow: 
		0.04em 0.04em 0 #fff, 
		0.1em 0.1em 0 rgba(252, 157, 33, 0.949);


}

.list-category {
    display: flex;
    justify-content: flex-end;
}

.maincontainer-wrapper { 
     display:flex;
    align-items: center; 
    justify-content:space-between; 
    }

/* エリア表示 */
.h2-taitle{
   text-align: center;
   margin-bottom: 40px;
}
/* 宮崎市 */
.cityname {
display: inline-block;
padding: 10px 30px;
height: 25px;
background-color: #AAE139;
border-radius: 20px;
/* 宮崎市テキスト */
width: inherit;
font-family:'Consolas',sans-serif;;
font-style: normal;
font-weight: 800;
text-shadow: 0.2em;
line-height: 1.5;
text-align: center;
letter-spacing: 5px;
color: #FFFFFF;

}

/* ~おすすめTOP3~ */
.side-title{
    display: inline-block;
    margin-top: 30px;
    margin-left: 20px;
    width: 260px;
    font-family: 'Ifont-family:  "ab-tombo-bold", sans-serif;';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 19px;
    /* ボックスの高さと同一 */
    text-align: center;
    color: #AAE139;
    letter-spacing: 0.1em;
    background: linear-gradient(transparent 60%, #F5EC6F 60%);

}

.main-title {
    display: inline-block;
    margin-top: 30px;
    margin-left: 20px;
    font-family: 'Ifont-family:  "ab-tombo-bold", sans-serif;';
    font-style: normal;
    font-size: 32px;
    line-height: 35px;
    /* ボックスの高さと同一 */
    text-align: center;
    color: #AAE139;
    letter-spacing: 0.1em;
    background: linear-gradient(transparent 60%, #F5EC6F 60%);
}

.list ul li a {

    width: 150px;
    height: 150px;
    margin: 10 10 ;
}
/* ランキング横並び */
.col3 >*{
    width: 30%;
}
.col2 >*{
    width: 45%;
}
.col2 > *:nth-child(n + 3){
    margin-top: 40px;
}
/* 真ん中の点線 */
hr {
    margin: 30px auto;
    width: 930px;
    height: 0px;
    border: 1px dashed #FF9933;

}

/* 宮崎市周辺のお店 */
#main {
    text-align: center;
}

#main .side-title {
    display: inline-block;
    margin: 0 auto;
}


/* 投稿 */
/* 外枠 */

.container {
    padding: 10px;
    border: 3px solid #AAE139;
    /* transform: scale(0.70); 縮小 */
    /* transform-origin: top left; 縮小の基準点を左上に設定 */
    /* width: 100%; /* 元の幅を維持 */
    /* height: auto; /* 元の高さを維持 */
    /* position: relative; */ 
  } 
    /* 写真 */
.magazin-image{
    width: 80%;
    margin: auto;
    display: block;
    object-fit: cover;
    /* height: 160px; */
}

    /* 横並びに */

.detail-wrapper {

    display:flex;
    align-items: center; 
    justify-content:center;
}
    /* 名称 */
.container-title {
    color: #AAE139;
    margin: 0;
    
}
.container-title span{
    font-size: 1.2rem;
    background: linear-gradient(transparent 60%, #F5EC6F 60%);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 14rem;
    display: inline-block;
    }

.likebotton {
    width: 50%;
}
.button{
    width: 50px;
}

 button { background-color: transparent; 
             border: none; 
             cursor: pointer; 
             outline: none; 
             padding: 0; 
             appearance: none; 
            }

.span {
     background: linear-gradient(transparent 60%, #F5EC6F 60%);
     margin-top: 0;     
    }

.side-title span{
    font-family:  "ab-tombo-bold", sans-serif;
}
    /* 観光地 */
.category{
    width: 100px;
    background: #AAE139;
    border-radius: 40px;
    color:#FFFFFF;
    text-align: center;
    
    }
        /* 詳細 */
    .wrapper .access {
        display: block;
        padding: 0;  
    }

    .access li {
        font-size: 1rem; 
    }

    .like-wrapper {
        display: flex;
        gap: 1em;
    }
    .likecount p {
        line-height: 150px;
        display: block;
        margin-bottom: 0;
        font-family:  "ab-tombo-bold", sans-serif;
        font-size: 1.3rem;
        color: hsl(336, 100%, 60%);
        text-decoration:underline;
    }

  /* おすすめポイント */
  .coment-title {
    font-family:  "ab-tombo-bold", sans-serif;
    margin: 0;
    color: #AAE139;
  }

.comment-box {
    border: 2px solid #FF9933;
    margin: 10px 0 0 0;
}
.comment-box p {
    padding: 5px;
}
/* ページボタン */
.pagination{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0;
}

 .pagination a {
    color: #fff;
    text-align: center;
    width: 30px;
    background: #AAE139;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
    line-height: 30px;
    display: block;
    font-family: 'ab-tombo-bold", sans-seri';
    font-weight: 800;
 }
/* pagination */

.active .page-link {
    color: #AAE140;
    text-align: center;
    width: 30px;
    background: #fff;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
    line-height: 30px;
    display: block;
    font-family: 'ab-tombo-bold", sans-seri';
    font-weight: 800;
    font-size: 1.5rem;

}

span.page-link {
    color: #AAE140;
    text-align: center;
    width: 30px;
    background: #fff;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
    line-height: 30px;
    display: block;
    font-family: 'ab-tombo-bold", sans-seri';
    font-weight: 800;
    font-size: 1.5rem;
}


  /* 戻るボタン */
#return a p {
    
    display: block;
    margin: 30px auto;
    background-color: #AAE139;
    border-radius: 30px ;
    /* テキスト */
    width: 15%;
    font-family: 'ab-tombo-bold", sans-seri';
    font-weight: 800;
    line-height: 2;
    text-align: center;
    letter-spacing: 5px;
    color: #FFFFFF;
    font-size: larger;
  }

/* detail-main */
/* 詳細のBOX */
.detail-title{
    margin: 20px auto;
    padding: 10px;
   
    width: 95px;
    height: 25px;
    background-color: #AAE139;
    border-radius: 20px;
    /* 宮崎市テキスト */
    width: 160px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 5px;
    color: #FFFFFF;
    }

#detail-top{
    display: block;
    width: 60%;
    border-radius: 20px;
    background-color: #fff;
    margin: auto;
    padding: 30px 10px;
    }

/* 外枠 */
.detail-container {
    padding: 10px;
    margin: 20px auto;
    width: 500px;
    border: 5px solid #AAE139;
    border-radius: 5%;
    max-width: 1000px;
    }

.margin {
    margin-bottom: 20px;
}

.post-section {
    top: 1%;
    right: 30%;
    border: #AAE139 solid;
    border-width: thin;
    border-radius: 20px;
    padding: 1em;
    margin: 1%;
    gap: 5%;

}


/* ======comments===== */
.section {
    top: 1%;
    right: 30%;
    border: #AAE139 solid;
    border-width: thin;
    border-radius: 20px;
    padding: 1em;
    margin: 1%;
    display: flex;
    gap: 5%;
}
.section .img-box {
    width: 200px;
    height: 150px;
    background: silver;
}
.section .text-box {
    width: 70%;
    color: #AAE139;
}
.text-box .member {
    display: inline-block;
    padding: .4em;
    border-radius: 5%;
    background: #F5EC6F;
    color: #fff;
}

.file-names {
    font-family: 'ab-tombo-bold", sans-seri';
    font-weight: 800;
    
}