/*=====　お問い合わせページCSS　=====*/
html {
    font-size: 100%;
}

body {
    color: #000;
    font-size: 0.9rem;
    font-family: '', '', serif;
    margin: 0;
}

.contact-main {
    background-color: #F5EC6F;
}

.inner {
    width: 960px;
    margin: 0 auto;
}

.top {
    text-align: center;
    margin-bottom: 60px;
}


.content {
    /* height: 800px; */
    width: 800px;
    padding: 25px 0 25px 0;
    margin: 0 auto 60px auto;
    background-color: #fff;
    border-radius: 20px;
}

.content p {
    font-family: "ab-tombo-bold", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0;
}

.required {
    color: red;
    font-family: sans-serif;
}

.input-bg {
    background-color: rgb(211, 211, 211);
    margin-bottom: 25px;
}

.area-bg {
    background-color: rgb(211, 211, 211);
}

.submit {
    margin-left: 594px;
}

.button {
    background-color: #AAE139;
    width: 55px;
    margin: 0 auto;
    border-radius: 30px;
    color: #fff;
    text-align: center;
	border: none;
}

.form {
    text-align: left;
    margin-left: 82px;
}

.form p {
    padding: 20px auto 3px auto;
}

.content a {
    margin-top: 100px;
}


.buck {
    background-color: #f93;
    width: 300px;
    margin: 0 auto;
    border-radius: 30px;
    color: #fff;
    text-align: center;
}

a {
    text-decoration: none;
    color: #000;
}

/*=====　新規登録ページCSS　=====*/
.register-main {
    background-color: #AAE139;
}

.flex {
    display: flex;
    justify-content: flex-end;
}

.reg1-button {
    background-color: #AAE139;
    width: 150px;
    margin: 10px 10px 10px 0;
    border-radius: 30px;
    color: #fff;
    border: none;
}

.reg2-button {
    background-color: #21C9F3;
    width: 55px;
    margin: 10px 80px 10px 0;
    border-radius: 30px;
    color: #fff;
    border: none;
}

/*=====　ログインページCSS　=====*/
.login-main {
    background-color: #F5EC6F;
}

.login1-button {
    background-color: #AAE139;
    width: 150px;
    margin: 10px 10px 10px 0;
    border-radius: 30px;
    color: #fff;
    border: none;
}

.login2-button {
    background-color: #21C9F3;
    width: 70px;
    margin: 10px 80px 10px 0;
    border-radius: 30px;
    color: #fff;
    border: none;
}

/*=====　新規投稿ページCSS　=====*/
.post-main {
    background-color: #F5EC6F;
}

.post-button {
    background-color: #21C9F3;
    width: 370px;
    height: 50px;
    font-size: 200%;
    border-radius: 30px;
    color: #fff;
    border: none;
    margin-bottom: 20px;
    margin-left: 35%;
}