html {
    font-size: 100%;
}

body {
    color: #000;
    font-size: 0.9rem;
    font-family: var(--main-font-family);
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

.base-wrapper {
    background-color: var(--sub-color);
}
.mypage_inner {
    width: 960px;
    margin: 0 auto;
}

.mypage_top {
    text-align: center;
    margin-bottom: 60px;
}

.site_logo {
    width: 80%;
    margin: 0 auto;
}

.mypage_content {
    height: 100%;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 60px;
    background-color: #fff;
    border-radius: 20px;
    font-family: var(--base-font-family);
}
.mypage_content dt {
    font-family: var(--main-font-family);
}
.mypage_content dd {
    border-bottom: 0.1em solid var(--sub-color);
    font-family: var(--main-font-family);
}

.mypage_content a {
margin-top: 100px;
}

dl {
    width: 700px;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

dd {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 0.5em solid var(--sub-color);
}

dt {
    text-align: left;
    width: 40%;
    padding-left: 20%;
    margin-bottom: 10px;
}

.flex {
    /* width: 100%; */
    flex-wrap: wrap;
    display: flex;
    align-content: space-between;

}

.flex_item {
    margin: 0 auto ;
}

.back {
    width: 25%;
    margin: 0 auto;
}
.flex_item dt {
    padding-left: 40%;
}

.logout {
    margin: 5% auto;
}

h2 {
    font-family: var(--main-font-family);
    background-color: #f93;
    width: 35%;
    margin: 0 auto;
    padding: 1em;
    border-radius: 30px;
    color: #fff;
    text-align: center;
}
h3 {
    font-family: var(--main-font-family);
}


/* 投稿ログ */
.col3 >*{
    width: 30%;
}
.col2 >*{
    width: 45%;
    font-family: var(--main-font-family);
}
.col2 > *:nth-child(n + 3){
    margin-top: 40px;
}
/* 真ん中の点線 */
hr {
    margin: 30px auto;
    width: 930px;
    height: 0px;
    border: 1px dashed #FF9933;

}

/* 宮崎市周辺のお店 */
#main {
    text-align: center;
}

#main .side-title {
    display: inline-block;
    margin: 0 auto;
}


/* 投稿 */
/* 外枠 */

.container {
    padding: 10px;
    border: 3px solid #AAE139;
    /* transform: scale(0.70); 縮小 */
    /* transform-origin: top left; 縮小の基準点を左上に設定 */
    /* width: 100%; /* 元の幅を維持 */
    /* height: auto; /* 元の高さを維持 */
    /* position: relative; */ 
  } 
    /* 写真 */
.magazin-image{
    margin-top: 10px;
}
.magazin-image img{
    height: 12em;
}

    /* 横並びに */

.detail-wrapper {

    display:flex;
    align-items: center; 
    justify-content:space-between;
}
    /* 名称 */
.container-title span{
    font-size: 1.5em;
    margin-top: 10px;
    margin: 0 auto;
    background: linear-gradient(transparent 60%, #F5EC6F 60%);
    }


.button{
    width: 50px;}
 button { background-color: transparent;
             border: none; 
             cursor: pointer; 
             outline: none; 
             padding: 0; 
             appearance: none; 
            }

.span {
     background: linear-gradient(transparent 60%, #F5EC6F 60%);
     margin-top: 0;
    }

.side-title span{
    font-family:  "ab-tombo-bold", sans-serif;
}
    /* 観光地 */
.category{
    width: 100px;
    background: #AAE139;
    border-radius: 40px;
    color:#FFFFFF;
    text-align: center;
    margin-bottom: 90px;
    font-family: var(--main-font-family);
    }
        /* 詳細 */
    .wrapper .access {
        display: block;
        padding: 0;
        
   
    }
  /* おすすめポイント */
  .coment-title {
    
    margin: 0;
    color: #AAE139;
  }

.comment-box {
    border: 2px solid #FF9933;
    margin: 10px 0 0 0;
}
.comment-box p {
    padding: 5px;
}


/* ログアウトボタン */
a.btn-border {
    color: #fff;
    border: 2px solid var(--sub-color);
    border-radius: 0;
    background: var(--sub-color);
    padding: 1rem;
    margin: 2rem auto 0 auto;
    font-family: var(--main-font-family);
  }
  
  a.btn-border:hover {
    color: #fff;
    background: #FF9933;
    border: 2px solid #f93
  }
  
  hr {
    border: none;
    background-color: #fff;
    border-width: 1px 0 0 0;
    border-top: solid;
    border-color: var(--sub-color);
  }


  /* レスポンシブデザイン */

@media screen and (max-width: 960px) {
	/* 959px以下に適用されるCSS（タブレット用） */
    .mypage_content,
    dl {
        width: 90%;
    }

    .flex_item {
        width: 47%;
    }
    .flex_item span {
        width: 30%;
    }
    .container-title span {
        font-size: 1em;
    }
}
@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
    .flex {
        display: unset;
        width: 100%;
    }
    .flex_item {
        width: 100%;
        margin-bottom: 1em;
    }

    }
    .container {
        max-width: 480px;
    }
